body{
    font-family: 'Open Sans', sans-serif;    
    font-size: 15px;
    padding: 0;
    margin: 0;
}
div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;    
}

.header{
    background: rgba(78,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 62px;
    color: #fff;
    padding-bottom: 144px;
}

p{
    line-height: 1.7em;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.offer {
    width: 530px;
}

.title{
    font-size: 36px;
    line-height: 1.65em;
}

.title span {
    font-size: 59px;
}

.intro{
    font-size: 16px;
    margin-bottom: 44px;
    width: 400px;
    margin-top: 25px;
}

.btn {    
    background-color: #ffd429;
    color: #000;
    display: block;
    border-radius: 0px;
    width: 221px;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #ebbc00;
}

.weekend {
    margin-top: 57px; 
}

.future{
    padding-top: 122px;
    padding-bottom: 127px;
}

.section-title{
    font-size: 30px;
    margin-bottom: 73px;
    text-align: center;
}

.icons {
    display: flex; 
    justify-content: space-between;
    margin-top: 70px;
}

.icon {
    width: 289px;
    background:  url('../img/icon1.png') no-repeat top;
    padding-top: 130px;
    text-align: center;
}

.icon2 {
    background:  url('../img/icon2.png') no-repeat top; 
}

.icon3 {
    background:  url('../img/icon3.png') no-repeat top; 
}

.form {
    background: #ecf3f8;
    padding: 100px 0;  
    
}

.section-title{
    font-size: 30px;
    margin-bottom: 73px;
    text-align: center;
}

input{
    display: block;     
    width: 344px;
    height: 47px;
    border: 1px solid #bbbbbb;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-left: 24px; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.btn-form{
    border: 0;
    cursor: pointer;
    margin: 0 auto;
    width: 344px;
}

footer{
    padding: 56px 0;
    background: #164d7a;
    text-align: center;
}

.credits{
    color: #fff;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .container{
      width: 960px;
  }
   
}

@media screen and (max-width: 992px) {
    .container{
        width: 720px;        
    }
    .wrapper{
        flex-direction: column;
    }
    .offer{
        width: auto;
    }
    .intro{
        width: auto;
    }
    .icons{
        flex-direction: column;
    }  
    .icon{
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 540px;
        
    }
    .btn-form{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
}
